@import "/src/Styles/theme.scss";
.container {
  width: 100%;
  background: $main-bg;
  position: fixed;
  top: 0;
  z-index: 800;
  box-shadow: 1px 1px 4px 4px rgb(218, 216, 216);
}
.nav_container {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 100px 0px 100px !important;
  &__pincode {
    cursor: pointer;
    &:hover {
      color: $highlight-text !important;
    }
  }
}
.search_icon{
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $theme-text;
}
.top_drawer_style{
  top: 80px !important;
  width: 90%;
}
